# put this file at /etc/systemd/system/upt-distance.service on ubuntu servers
# give the file execution permissions
# enable it with sudo systemctl enable upt-distance.service
[Unit]
Description=upt-distance script

[Service]
ExecStart=/home/{{ user }}/upt_scripts/upt-distance.sh

[Install]
WantedBy=multi-user.target